/* ---------------------------------------------------------------------------- */
/*                      Бургер меню */
/* ---------------------------------------------------------------------------- */
nav.container {
    display: none;
    z-index: 10;
    background-color: white;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-100%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-100%, -50%) rotate(-45deg);
}
@media (max-width: 767px) {
    .container {
        max-width: 420px;
    }
    /* ---------------------------------------------------------------------------- */
    /*                                  hamburger menu */
    /* ---------------------------------------------------------------------------- */
    nav.container {
        display: flex;
    }
}
